<h1>File Upload</h1>

<form action="https://com242-web-service.herokuapp.com/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="fileUpload" id="">
    <input type="submit" value="Upload">
</form>